Source: linux-linaro-odroidx-3.7
Section: devel
Priority: optional
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Standards-Version: 3.8.4.0
Build-Depends: debhelper (>= 5), cpio, module-init-tools, kernel-wedge (>= 2.24ubuntu1), makedumpfile [amd64 i386], libelf-dev, libnewt-dev, binutils-dev, rsync, libdw-dev, dpkg (>= 1.16.0~ubuntu4), util-linux, pkg-config, flex, bison, libunwind8-dev, libaudit-dev [amd64 i386]
Build-Depends-Indep: xmlto, docbook-utils, ghostscript, transfig, bzip2, sharutils, asciidoc
Build-Conflicts: findutils (= 4.4.1-1ubuntu1)
Vcs-Git: git://github.com/tobetter/linux.git linux-linaro-odroidx-3.7_3.7.0-1.1--ci+130327021923

Package: linux-linaro-odroidx-3.7-headers-3.7.0-1
Architecture: armhf
Section: devel
Priority: optional
Depends: ${misc:Depends}, coreutils | fileutils (>= 4.0)
Description: Header files related to Linux kernel version 3.7.0
 This package provides kernel header files for version 3.7.0, for sites
 that want the latest kernel headers. Please read
 /usr/share/doc/linux-linaro-odroidx-3.7-headers-3.7.0-1/debian.README.gz for details

Package: linux-linaro-tools-3.7.0-1-linaro-odroidx
Architecture: armhf
Section: devel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-tools-common
Description: Linux kernel version specific tools for version 3.7.0-1
 This package provides the architecture dependant parts for kernel
 version locked tools (such as perf and x86_energy_perf_policy) for
 version 3.7.0-1 on
 ARM (hard float).


Package: linux-image-3.7.0-1-linaro-odroidx
Architecture: armhf
Section: kernel
Priority: optional
Pre-Depends: dpkg (>= 1.10.24)
Provides: linux-image, linux-image-3.0, fuse-module, 
Depends: ${misc:Depends}, ${shlibs:Depends}, initramfs-tools (>= 0.36ubuntu6), module-init-tools (>= 3.3-pre11-4ubuntu3)
Conflicts: hotplug (<< 0.0.20040105-1)
Recommends: uboot-mkimage, flash-kernel
Suggests: fdutils, linux-linaro-odroidx-3.7-doc-3.7.0 | linux-linaro-odroidx-3.7-source-3.7.0, linux-linaro-odroidx-3.7-tools, linux-headers-3.7.0-1-linaro-odroidx
Description: Linux kernel image for version 3.7.0 on Samsung ODROIDX-based systems
 This package contains the Linux kernel image for version 3.7.0 on
 Samsung ODROIDX-based systems.
 .
 Also includes the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Samsung ODROIDX processors.
 .
 Targeted towards boards such as odroidx, etc.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-linaro-odroidx meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-image-extra-3.7.0-1-linaro-odroidx
Architecture: armhf
Section: kernel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}, linux-image-3.7.0-1-linaro-odroidx, crda (>=1.1.1-1ubuntu2) | wireless-crda
Description: Linux kernel image for version 3.7.0 on Samsung ODROIDX-based systems
 This package contains the Linux kernel image for version 3.7.0 on
 Samsung ODROIDX-based systems.
 .
 Also includes the corresponding System.map file, the modules built by the
 packager, and scripts that try to ensure that the system is not left in an
 unbootable state after an update.
 .
 Supports Samsung ODROIDX processors.
 .
 Targeted towards boards such as odroidx, etc.
 .
 You likely do not want to install this package directly. Instead, install
 the linux-linaro-odroidx meta-package, which will ensure that upgrades work
 correctly, and that supporting packages are also installed.

Package: linux-headers-3.7.0-1-linaro-odroidx
Architecture: armhf
Section: devel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: linux-headers, linux-headers-3.0
Description: Linux kernel headers for version 3.7.0 on Samsung ODROIDX-based systems
 This package provides kernel header files for version 3.7.0 on
 Samsung ODROIDX-based systems.
 .
 This is for sites that want the latest kernel headers.  Please read
 /usr/share/doc/linux-linaro-odroidx-3.7-headers-3.7.0-1/debian.README.gz for details.

Package: linux-image-3.7.0-1-linaro-odroidx-dbgsym
Architecture: armhf
Section: devel
Priority: optional
Depends: ${misc:Depends}
Provides: linux-debug
Description: Linux kernel debug image for version 3.7.0 on Samsung ODROIDX-based systems
 This package provides a kernel debug image for version 3.7.0 on
 Samsung ODROIDX-based systems.
 .
 This is for sites that wish to debug the kernel.
 .
 The kernel image contained in this package is NOT meant to boot from. It
 is uncompressed, and unstripped. This package also includes the
 unstripped modules.

Package: kernel-image-3.7.0-1-linaro-odroidx-di
XC-Package-Type: udeb
Provides: kernel-image
Architecture: armhf
XB-Kernel-Version: 3.7.0-1-linaro-odroidx
Section: debian-installer
Priority: extra
Description: Linux kernel binary image for the Debian installer
 This package contains the kernel image for the Debian installer
 boot images. It does _not_ provide a usable kernel for your full
 Debian system.
