/*
 * Hardkernel's Exynos4412 based ODROID-X board device tree source
 *
 * Copyright (c) 2012 Dongjin Kim <tobetter@gmail.com>
 *
 * Device tree source file for Hardkernel's ODROID-X board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/include/ "exynos4412.dtsi"

/ {
	model = "Hardkernel ODROID-X board based on Exynos4412";
	compatible = "hardkernel,odroid-x", "samsung,exynos4412";

	memory {
		reg = <0x40000000 0x40000000>;
	};

	serial@13800000 {
		status = "okay";
	};

	serial@13810000 {
		status = "okay";
	};

	serial@13820000 {
		status = "okay";
	};

	serial@13830000 {
		status = "okay";
	};

	sdhci@12530000 {
		bus-width = <4>;
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
		pinctrl-names = "default";
		status = "okay";
	};

	regulator_p3v3 {
		compatible = "regulator-fixed";
		regulator-name = "p3v3_en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpa1 1 0>;
		enable-active-high;
		regulator-boot-on;
	};

	leds {
		compatible = "gpio-leds";
		led1 {
			label = "led1:heart";
			gpios = <&gpc1 0 0>;
			linux,default-trigger = "heartbeat";
		};
		led2 {
			label = "led2:mmc0";
			gpios = <&gpc1 2 0>;
			linux,default-trigger = "mmc0";
		};
	};

	mshc@12550000 {
		bus-width = <8>;
		pinctrl-0 = <&sd4_clk &sd4_cmd &sd4_bus4 &sd4_bus8>;
		pinctrl-names = "default";
		status = "okay";

		num-slots = <1>;
		supports-highspeed;
		broken-cd;
		fifo-depth = <0x80>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3 3>;
		samsung,dw-mshc-ddr-timing = <1 2 3>;

		slot@0 {
			reg = <0>;
		};
	};

	i2c@13860000 {
		pinctrl-0 = <&i2c0_bus>;
		pinctrl-names = "default";
		status = "okay";

		max77686: pmic@09 {
			reg = <0x09>;
		};
	};
};

/*
 * PMIC
 */

/include/ "max77686.dtsi"

&buck1 {
	regulator-name = "VDD_MIF_1.0V";
	regulator-always-on;
	regulator-boot-on;
};

&buck2 {
	regulator-name = "VDD_ARM_1.3V";
	regulator-always-on;
	regulator-boot-on;
};

&buck3 {
	regulator-name = "VDD_INT_1.0V";
	regulator-always-on;
	regulator-boot-on;
};

&buck4 {
	regulator-name = "VDD_G3D_1.0V";
	regulator-boot-on;
};

&buck5 {
	regulator-name = "VDDQ_CKEM1M2_1.2V";
	regulator-always-on;
	regulator-boot-on;
};

&buck6 {
	regulator-name = "VDD_INL_1.35V";
	regulator-always-on;
	regulator-boot-on;
};

&buck7 {
	regulator-name = "VDD_INL_2.0V";
	regulator-always-on;
	regulator-boot-on;
};

&buck8 {
	regulator-name = "VDD_BUCK8_2.8V";
	regulator-always-on;
	regulator-boot-on;
};

&buck9 {
	regulator-name = "VDD_BUCK9_1.2V";
	regulator-always-on;
	regulator-boot-on;
};

&ldo1 {
	regulator-name = "VDD_ALIVE_1.0V";
	regulator-always-on;
};

&ldo2 {
	regulator-name = "VDDQ_M1M2_1.8V";
	regulator-always-on;
};

&ldo3 {
	regulator-name = "VDDQ_M0_1.8V";
	regulator-always-on;
};

&ldo4 {
	regulator-name = "VDDQ_MMC2_2.8V";
	regulator-always-on;
};

&ldo5 {
	regulator-name = "VDDQ_MMC13_1.8V";
	regulator-always-on;
};

&ldo6 {
	regulator-name = "VDD_MPLL_1.0V";
	regulator-always-on;
};

&ldo7 {
	regulator-name = "VDD_VPLL_1.0V";
	regulator-always-on;
};

&ldo8 {
	regulator-name = "VDD10_HDMI_1.0V";
	regulator-always-on;
};

&ldo9 {
	regulator-name = "VDD_VTCORE_1.0V";
	regulator-always-on;
};

&ldo10 {
	regulator-name = "VDDQ_MIPIHSI_1.8V";
	regulator-always-on;
};

&ldo11 {
	regulator-name = "VDD18_ABB1_1.8V";
	regulator-always-on;
};

&ldo12 {
	regulator-name = "VDD33_UOTG_3.3V";
	regulator-always-on;
};

&ldo13 {
	regulator-name = "VDDQ_C2C_1.8V";
	regulator-always-on;
};

&ldo14 {
	regulator-name = "VDD18_ABB2_1.8V";
	regulator-always-on;
};

&ldo15 {
	regulator-name = "VDD10_HSIC_1.0V";
	regulator-always-on;
};

&ldo16 {
	regulator-name = "VDD18_HSIC_1.8V";
	regulator-always-on;
};

&ldo17 {
	regulator-name = "VDDQ_CAM_1.8V";
	regulator-always-on;
};

&ldo18 {
	regulator-name = "VDD_LDO18_1.8V";
	regulator-always-on;
};

&ldo19 {
	regulator-name = "VDD_VTCAM_1.8V";
	regulator-always-on;
};

&ldo20 {
	regulator-name = "VDD_LDO20_1.8V";
	regulator-always-on;
};

&ldo21 {
	regulator-name = "VDD_SDCARD_3.3V";
	regulator-always-on;
};

&ldo22 {
	regulator-name = "VDD_LDO22_2.8V";
	regulator-always-on;
};

&ldo23 {
	regulator-name = "VDD_TOUCH_2.8V";
	regulator-always-on;
};

&ldo24 {
	regulator-name = "VDD_TOUCHLED_3.3V";
	regulator-always-on;
};

&ldo25 {
	regulator-name = "VDDQ_LCD_1.8V";
	regulator-always-on;
};

&ldo26 {
	regulator-name = "VDD_MOTOR_3.0V";
	regulator-always-on;
};
